

.play-header {
  background: #ffffff;
  color: #008aff;
  font-family: roboto, arial;
  font-size: 1.8rem;
  box-shadow: 0rem .2rem .1rem #eeeeee;
  height: 6rem;
  position: fixed;
  top: 8rem;
  width: 100%;
  z-index: 9995;
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;

  .question-info {
    flex-grow: 1;
    text-align: center;
    text-indent: -4rem;
    line-height: 3rem;
  }
}

@media (max-width: 900px) {
  /* ... */
}

@media (max-width: 700px) {
  .play-header {
    height: 5rem;
    font-size: 1.4rem;
    top: 0rem;
    .close-button {
      height: 2.5rem;
      fill: #008aff;
    }
    .question-info {
      line-height: 2.5rem;
    }
  }
}
