.play-as-guest {
  .CodeMirror {
    font-size: 2rem;
    height: calc(100vh - 15rem);
    min-height: 15rem;
    margin-top: 6rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem 1rem;
    font-family: "Roboto Mono", "Geneva", "sans-serif";

    ::-webkit-scrollbar {
      width: 1rem;
    }
    ::-webkit-scrollbar-thumb {
      background: #57647d;
      border-radius: 0;
    }

    .cm-s-neo .CodeMirror-activeline-background {
      background: #ffffff;
    }

    .CodeMirror-cursor {
      background: none !important;
      background-color: none !important;
      border-left: 1px solid black !important;
    }
  }

  .play-controls {
    background: #008aff;
    position: fixed;
    width: 100%;
    display: flex;
    top: initial;
    bottom: 0;
    z-index: 9999;
    padding: 0rem;
    height: 5rem;
    justify-content: space-around;

    .control {
      margin-right: 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .control:hover {
      cursor: pointer;
    }

    .eraser-icon,
    .forward-icon,
    .bomb-icon,
    .cheat-icon,
    .help-icon,
    .dashboard-icon {
      color: #ffffff;
      font-size: 3rem;
    }
  }

  .errors {
    z-index: 99998;
    background: #eaedf5;
    color: #64677c;
    font-family: "Roboto", sans-serif;
    letter-spacing: -.1rem;
    font-size: 1.3rem;
    min-height: 4rem;
    line-height: 4rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 5rem;
  }
}

@media (max-width: 900px) {
  /* ... */
}

@media (max-width: 700px) {
  .play-as-guest {
    .CodeMirror {
      font-size: 1.5rem;
      height: calc(90vh - 5rem);
      padding: 1rem .5rem;
      height: calc(100vh - 14rem);
      margin-top: 5rem;
    }

    .errors {
      bottom: 5rem;
      font-size: 1.2rem;
      min-height: 4rem;
      line-height: 4rem;
      letter-spacing: 0rem;
    }
  }
}
