.help-using-jytr {
  font-family: "Helvetica Neue", sans-serif;
  color: #282a36;
  background: #f6f6f6;

  .inner-wrap {
    background: #ffffff;
    padding: 4rem 4rem 8rem 4rem;
    width: 85%;
    max-width: 90rem;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;

    .help-using-jytr-section-block {
      margin-bottom: 4rem;
      color: #444444;
      padding: 2rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .help-using-jytr-icon-wrap .fa {
      font-size: 6rem;
      margin-right: 2rem;
    }
  }
}

@media (max-width: 900px) {
  .help-using-jytr {
    .inner-wrap {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .help-using-jytr {
    .inner-wrap {
      .help-using-jytr-section-block {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .help-using-jytr-icon-wrap .fa {
        margin-right: 0;
        margin: 1rem 0 2rem 0;
      }
    }
  }
}
