.help-submenu {
  font-style: italic;
  font-weight: bold;
  height: 4rem;
  padding: 0;
  font-size: 1.8rem;
  list-style-type: none;
  margin-bottom: 2rem;
}

.help-submenu li {
  display: inline;
  margin-right: 1.5rem;
}

.help-submenu li.this {
  color: white;
  border-radius: 2rem;
}

.help-submenu li a {
  text-decoration: none;
  color: #008aff;
  padding: 0;
  border-bottom: 3px solid white;
}

.help-submenu li a:hover {
  border-bottom: 3px solid #008aff;
}

@media (max-width: 900px) {
  /* ... */
}

@media (max-width: 700px) {
  .help-submenu {
    font-style: normal;
    text-align: center;
    font-weight: bold;
    height: 4rem;
    padding: 0;
    font-size: 1.6rem;
    list-style-type: none;
  }

  .help-submenu li {
    margin-left: .75rem;
    margin-right: .75rem;
  }
}
