.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-main {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -44vw;
}

.landing a {
  width: 30vw;
  position: relative;
  top: -12vw;
  z-index: 10;
}

.landing .landing-trapezoid {
  display: inline;
  width: 100vw;
  position: relative;
  top: -16vw;
  z-index: 1;
}

.landing .landing-bolt {
  display: inline-block;
  margin-top: 30rem;
  width: 25vw;
  position: absolute;
}

/* ----------------------------------- MD ----------------------------------- */
@media (max-width: 1300px) {
  .landing .landing-bolt {
    width: 25vw;
    margin-top: 20rem;
  }
}

/* ----------------------------------- SM ----------------------------------- */
@media (max-width: 900px) {
  .landing-main {
    position: initial;
    margin-bottom: 0;
  }

  .landing a {
    width: 40vw;
    position: relative;
    top: -30px;
    z-index: 10;
  }

  .landing .landing-trapezoid {
    display: none;
  }

  .landing .landing-bolt {
    display: inline-block;
    margin-top: 0;
    width: 25vw;
    position: relative;
    top: -20px;
  }
}

/* ----------------------------------- XS ----------------------------------- */
@media (max-width: 700px) {
}

/* ---------------------------------- PRINT --------------------------------- */
@media print {
}
