.landing-hero {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 7rem);
  min-height: 65rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    fill: white;
    height: 40rem;
  }

  img {
    width: 100rem;
    margin-bottom: 10rem;
  }

  button {
    background: #008aff;
    color: #ffffff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    width: 300px;
  }
}

@media (max-width: 900px) {
  /* ... */
}

@media (max-width: 700px) {
  .landing-hero {
    min-height: 55rem;
    img {
      margin: 0rem;
      margin-top: -8rem;
      margin-bottom: 10rem;
    }

    svg {
      height: 30rem;
    }

    button {
      top: -25rem;

      font-size: 2rem;
      padding: 1rem 5rem;
      border-radius: .5rem;
      border: .4rem solid white;
    }
  }
}
