.landing-hero {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 7rem);
  min-height: 65rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: white;
    height: 40rem;
    margin-bottom: 8rem;
  }

  img {
    width: 100rem;
    margin-bottom: 10rem;
  }
}

@media (max-width: 900px) {
  /* ... */
}

@media (max-width: 700px) {
  .landing-hero {
    min-height: 55rem;
    img {
      margin: 0rem;
      margin-top: -8rem;
      margin-bottom: 10rem;
    }
    svg {
      height: 30rem;
    }
  }
}
