.landing-info {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  color: #201e1c;
  padding: 2rem 2rem 8rem 2rem;

  .fa {
    font-size: 30rem;
    margin: 0 0 3rem 0;
  }

  .info-subsection {
    width: 50%;
    max-width: 70rem;
    margin: 4rem;
    text-align: center;

    .info-subsection-title {
      font-size: 3rem;
      margin: 2rem;
    }

    .info-subsection-description {
      margin-bottom: 2rem;
      font-size: 1.25rem;
      line-height: 2rem;
      padding: 0 8rem;
    }
  }
}

@media (max-width: 900px) {
  .landing-info {
    flex-direction: column;
    .info-subsection {
      width: auto !important;
    }
  }
  .landing-info .info-subsection .info-subsection-description {
    padding: 0 4rem;
  }
}

@media (max-width: 700px) {
  .landing-info .info-subsection .info-subsection-description {
    padding: 0 2rem;
  }
}
