@import "../colors";

.finished-main {
  font-family: "Helvetica Neue", sans-serif;

  .inner-wrap {
    padding: 4rem 0 8rem 0;
    width: 75%;
    max-width: 90rem;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
  }

  .description {
    padding-top: 4rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
  }

  .congratulations-text,
  .congratulations-image {
    margin-bottom: 2rem;
  }

  .small-icon svg {
    width: 3rem;
  }

  p {
    margin: 1.5rem 0;
  }

  h4 {
    text-align: center;
    margin: 4rem 0;
  }
}

@media (max-width: 900px) {
  /* ... */
}

@media (max-width: 700px) {
  /* ... */
}
