.footer {
  font-family: Roboto, sans-serif;
  background: #008aff;
  border-top: .1rem solid #65b8ff;
  color: #ffffff;

  .fa-github-alt {
    font-size: 1.7rem;
  }

  a:link,
  a:visited,
  a:active {
    color: #ffffff;
  }
  a:hover {
    color: #333333;
  }

  .bottom {
    padding: .01rem 0.5rem 0.01rem 0.5rem;
  }

  .bottom {
    background: #045ba4;
  }

  /* mini nav */
  .mini-nav {
    display: flex;
    font-size: 1.7rem !important;
    margin: 0 auto;
    width: 75rem;
    margin-top: 14rem;
    margin-bottom: 14rem;

    a {
      text-decoration: none;
    }

    div {
      position: relative;
      width: 33.333%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }
  }

  /* social media */
  .social-media {
    margin: 0 auto;
    margin-top: 4rem;
    max-width: 110rem;
    width: 180px;
    display: flex;
    justify-content: center;

    div {
      position: relative;
      width: 33.333%;
      display: inline-block;
      text-align: center;
    }

    div rect {
      fill: #045ba4;
    }

    .github-logo:hover path {
      fill: #333;
    }

    div path {
      fill: #ffffff;
    }
  }

  /* horizontal rule */
  hr {
    background-color: #ffffff;
    border: none;
    outline: none;
    height: 1px;
    border: 0;
    width: 15rem;
  }

  /* copyright */
  .copyright {
    text-align: center;
    font-size: 1.2rem;
    margin: 2.5rem;
  }

  .copyright a:link,
  .copyright a:visited,
  .copyright a:hover,
  .copyright a:active {
    text-decoration: none;
  }
}

@media (max-width: 900px) {
  .footer {
    .bottom {
      padding: 0.05rem 0.05rem 2rem 0.05rem;
    }

    /* mini nav */
    .mini-nav {
      font-size: 1.6rem !important;
      align-items: center;
      flex-direction: column;
      width: auto !important;
      margin-top: 6rem;
      margin-bottom: 6rem;
      .mini-nav-link {
        width: auto !important;
        margin: 1rem;
      }
    }

    .copyright {
      text-align: center;
      font-size: 1.1rem !important;
      margin: 1rem 0rem 0rem 0rem !important;
    }
  }
}

@media (max-width: 700px) {
  /* ... */
}
